{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "globals": {
    "React": true,
  },
  "rules": {
    "react/forbid-prop-types": 0,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-no-bind": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-sort-props": 0,
    "react/no-set-state": 0,
    "react/no-string-refs": 0,
    "react/require-optimization": 0,
    "react/sort-prop-types": 0,
  },
  "plugins": [
    "import",
    "promise",
    "react",
  ],
  "extends": [
    "plugin:react/all",
  ]
}
