#viewBox {
  height: 95%;
  width: 95%;
  margin: 2.5% 2.5% 2.5% 2.5%;
  position: relative; 
}

#save {
  position: relative;
  float: right;
  margin: 1% 1% 1% 1%;
}

#scanSelectionList{
  width: 18%;
  float: left;
  height: 94.5%;
  overflow-x: scroll;
  overflow-y: scroll;
  margin: 1% 1% 1% 1%;
  padding: 0;
}

#sequenceBox{
  width: 79%;
  height: 15%;
  float: right;
  overflow-x: scroll;
  margin-top: 1%;
  margin-bottom: 0;
  margin-right: 1%;
  padding-left: 20px;
}

#sequence{
  margin: auto, 0;
}

#spectra{
  margin-top: 1%;
  margin-bottom: 1%;
  height: 77%;
  width: 79%;
  float: left;
}

#updateBox{
  padding: 0 10% 0 10%;
  height: 10%; 
  width: 100%;
} 

#fragmentSpectrumBox{
  height: 100%;
  width: 75%;
  float: left;
}

#fragmentGoogleChart{
  height: 90%;
}

#precursorSpectrumBox{
  height: 50%;
  width: 25%;
  float: right;
}

#precursorGoogleChart{
  height: 100%;
}

#quantSpectrumBox{
  height: 50%;
  width: 25%;
  float: right;
}

#quantGoogleChart{
  height: 100%;
}

.aminoAcid{
  width: 15px;
  text-align: center;
}

.yIon, .bIon{
  text-align: center;
}

#mzTable{
  border: 1px;
  border-spacing: 5px;
}

.selectedListItem{
  cursor: pointer;
  background-color: LightGray;
}

.unselectedListItem{
  cursor: pointer;
}

.choiceButton{
  float: right;
}

#acceptButton:enabled {
  background-color: green;
}

#acceptButton:disabled {
  background-color: LightGray;
}

#maybeButton:enabled {
  background-color: yellow;
}

#maybeButton:disabled {
  background-color: LightGray;
}

#rejectButton:enabled {
  background-color: red;
}

#rejectButton:disabled {
  background-color: LightGray;
}

#setMinMZ{
  float: left;
  margin-right: 1%;
}

#setMaxMZ{
  float: left;
}

.numInput{
  width: 50px;
}

input:disabled {
  background-color: LightGray;
}

li[class=accept] > span{
  color: green;
}

li[class=maybe] > span{
  color: yellow;
}

li[class=reject] > span{
  color: red;
}

li[class=undecided] > span{
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  border-left: 1px solid #333;
}

li::before {
  content: "\00a0\00a0";
  bottom: 8;
  position: relative;
  border-bottom: 1px solid #333;
}


