#viewBox {
  height: 96%;
  width: 98%;
  margin: 1%;
}

#scanSelectionList {
  float: left;
  width: 20%;
  height: 100%;
  overflow: scroll;
  padding: 0;
}

#sequenceBox {
  height: 15%;
  width: auto;
  overflow-x: auto;
  margin-bottom: 0%;
}

#sequence {
  position: relative;
  padding-left: 10%;
  left: 50%; top: 50%; /*move the object to the center of the parent object*/
  transform: translate(-50%, -50%);
}

#spectra {
  height: 85%;
  margin-bottom: 0%;
  width: auto;
}

#sequenceSpectraContainer {
  height: 100%;
  float: right;
}

#fragmentSpectrumBox {
  height: 100%;
  width: 75%;
}

#fragmentGoogleChart {
  height: 92.5%;
  width: 100%;
}

#updateBox {
  padding: 0% 10%;
  height: 7.5%;
  width: 100%;
}

#precursorQuantContainer {
  float: right;
  width: 25%;
}

#precursorSpectrumBox {
  height: 50%;
  width: 100%;
}

#precursorGoogleChart {
  height: 100%;
  width: 100%;
}

#quantSpectrumBox {
  height: 50%;
  width: 100%;
}

#quantGoogleChart {
  height: 100%;
  width: 100%;
}

#exportSave {
  padding: 0% 10%;
  height: 5%;
}

#save {
  float: right;
  margin: 0% 1%;
}

#export {
  float: right;
  margin: 0% 1%;
}

.aminoAcid {
  width: 15px;
  text-align: center;
}

.yIon, .bIon {
  text-align: center;
}

#mzTable {
  border: 1px;
  border-spacing: 5px;
}

.selectedListItem {
  cursor: pointer;
  background-color: LightGray;
}

.unselectedListItem {
  cursor: pointer;
}

.choiceButton {
  float: right;
}

#acceptButton:enabled {
  background-color: green;
}

#acceptButton:disabled {
  background-color: LightGray;
}

#maybeButton:enabled {
  background-color: yellow;
}

#maybeButton:disabled {
  background-color: LightGray;
}

#rejectButton:enabled {
  background-color: red;
}

#rejectButton:disabled {
  background-color: LightGray;
}

#setMinMZ {
  float: left;
  margin-right: 1%;
}

#setMaxMZ {
  float: left;
}

.numInput {
  width: 50px;
}

input:disabled {
  background-color: LightGray;
}

li[class=accept] > span {
  color: green;
}

li[class=maybe] > span {
  color: yellow;
}

li[class=reject] > span {
  color: red;
}

li[class=undecided] > span {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  border-left: 1px solid #333;
}

li::before {
  content: "\00a0\00a0";
  bottom: 8;
  position: relative;
  border-bottom: 1px solid #333;
}
